.address-list {
  list-style-type: none;
  padding: 0;
}

.address-list li {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  padding: 10px;
}

.radio-btn {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 2px solid #0BC5DD;
  border-radius: 50%;
}

.radio-checked {
  background-color: #0BC5DD;
}

.overflow-btn {
  text-align: right;
  display: inline-block;
  position: relative;
  float: right;
}

.overflow-btn ul {
  list-style-type: none;
  background-color: #fff;
  color: #909090;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.overflow-show {
  display: block;
}

.overflow-hide {
  display: none;
}

.overflow-btn ul li {
  box-shadow: none;
  text-align: left;
  padding: 3px;
  cursor: pointer;
}

.overflow-btn ul li:hover {
  color: blue;
}
