html, body
{
  height: 100%;
  margin: 0%;
}
* {
  box-sizing: border-box;
 }

header {
  width: 100%;
}


button.navbar-toggle i {
  color: white;
  font-size: 2em;
}

.navbar-style {
  background-color:#003d6f;
  border-radius: 0;
}

nav ul {
  padding: 10px;
}

ul.nav a {
  font-size: 1.1em;
  color: white;
}

ul.nav a:hover {
  background-color: #131866;
}

#collapse-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

#collapse-list li {
  float: left;
  padding: 10px 0px;
}

#collapse-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#collapse-list li:hover {
  background-color: #042B6C;
}

.location {
  padding: 10px 30px;
}

.search-form {
  padding: 5px;
  width: 65%;
  float: left;
}

.search-input {
  width: 100%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color:#081D40;021918fc
  border-radius: 0;
}
.btn
{
  width: 60px;
}

.left:hover, .right:hover {
  background-color: rgba(0,0,0,0.8);
  text-decoration: none;
}
ul.social-network {
    display: inline;
    list-style: none;
    margin-left: 0!important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}
.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}


.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}
.social-network a.icoTwitter:hover {
    background-color: #3cf;
}

.social-circle li a {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #444;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 50px;
}

.social-circle li i {
    line-height: 50px;
    margin: 0;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -moz-transition: all .2s;
    -ms--transform: rotate(360deg);
    -ms-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transform: rotate(360deg);
    -webkit-transition: all .2s;
    transform: rotate(360deg);
    transition: all .2s;
}

.social-circle i {
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    -webkit-transition: all .8s;
    color: #fff;
    transition: all .8s;
}
.social-icons {
    background: #040615;
    padding: 20px 0 0 10px;
    text-align: center;
}

.social-icons p {
    color: #fff;
    margin: 20px 0 0 0;
}
#myBtn
{
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index:1;
  border:none;
  outline: none;
  background-color: #0000008c;
  color: #282e34eb;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
  opacity: 0.9;

}
#myBtn:hover {
    background-color: #555;
}
ul.articles-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul.articles-list  li {
  background-color: #f1f1f1;
  border-bottom: 1px solid #DED6D5;
}

ul.articles-list li.article-last {
  border: none;
}

ul.articles-list li a {
  display: block;
  color: #000;
  padding: 10px 18px;
  text-decoration: none;
}

div.article-active {
  background-color: #081D40;
  color: white;
  cursor: default;
  text-align: center;
  text-decoration: none;
  height: 40px;
  padding: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 768px) {

  .logo {
    padding: 10px 50px;
  }

  .search-form {
    width: 100%;
  }

  #collapse-list li {
    width: 100%;
  }
}


button:focus {
	outline: none;
}

a:focus {
	outline: none !important;
}


/* Variables */
/* Cards Icon */
.icon-cards {
  position: relative;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 160px;
  transform: translate(-50%, -50%);
  perspective: 1000px;
  /* This rotates with the animation */
  /* Individual cards */
  top: 126px;
}
.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-145px) rotateY(0);
  animation: carousel 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards;
}
.icon-cards__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 150px;
  background: #ff257a;

  border-radius: 6px;
}
.icon-cards__item:nth-child(1) {
  transform: rotateY(72deg) translateZ(145px);
}
.icon-cards__item:nth-child(2) {
  transform: rotateY(144deg) translateZ(145px);
}
.icon-cards__item:nth-child(3) {
  transform: rotateY(216deg) translateZ(145px);
}
.icon-cards__item:nth-child(4) {
  transform: rotateY(288deg) translateZ(145px);
}
.icon-cards__item:nth-child(5) {
  transform: rotateY(360deg) translateZ(145px);
}
/* Animation */
@keyframes carousel {
  0%, 15% {
    transform: translateZ(-145px) rotateY(0);
  }
  20%, 35% {
    transform: translateZ(-145px) rotateY(-72deg);
  }
  40%, 55% {
    transform: translateZ(-145px) rotateY(-144deg);
  }
  60%, 75% {
    transform: translateZ(-145px) rotateY(-216deg);
  }
  80%, 95% {
    transform: translateZ(-145px) rotateY(-288deg);
  }
}
/* Demo only */
.tt
{
  height: 10%;
}
.pick
{
  height:auto;width: 35%;margin-left: 32%;background-color:#040615bf;border-color: black;margin-top: 4%;
}
@media screen and (max-width: 380px) {
  .tt
  {
    height: 500px;
  }
  .pick
  {
    margin: 0%;
  }
}


#wrapper {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 100px;
  width: 600px;
  height: 127px;
  padding: 10px;
  margin: -75px 0 0 -410px;
  position: absolute;
  left: 70%;
  top: 60%;
}
.caroufredsel_wrapper {
  border-radius: 90px;
}
#carouselll img {
  width: 201px;
  height: 127px;
  margin: 0 5px;
  float: left;
}
#prevv, #nextt {
  background: transparent url( img/carousel_control.png ) no-repeat 0 0;
  text-indent: -999px;
  display: block;
  overflow: hidden;
  width: 15px;
  height: 21px;
  position: absolute;
  top: 65px;
}
#prevv {
  background-position: 0 0;
  left: 30px;
}
#prevv:hover {
  left: 29px;
}
#nextt {
  background-position: -18px 0;
  right: 30px;
}
#nextt:hover {
  right: 29px;
}
#pager {
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}
#pager a {
  background: transparent url(img/carousel_control.png) no-repeat -2px -32px;
  text-decoration: none;
  text-indent: -999px;
  display: inline-block;
  overflow: hidden;
  width: 8px;
  height: 8px;
  margin: 0 5px 0 0;
}
#pager a.selected {
  background: transparent url(img/carousel_control.png) no-repeat -12px -32px;
  text-decoration: underline;
}
