body,html
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body
{
	background-color: black;
}
.content1
{
	text-align: center;  
    color: #fff;
    font-size: 2em;
    position: absolute;
    top: 78%;
    left: 10%;
    font-family:'Roboto Mono' , monospace;
    font-weight: lighter;
    font-style: normal;
}
#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 35%;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
  position: absolute;
  top: 25%;
  left: 40%;
}
#box img
{
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gradient-border {
  --borderWidth: 2.5px;
  background:linear-gradient(0deg,#000,#262626);
  position: relative;
  
}
 .gradient-border:before, .gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  box-shadow:2px 2px linear-gradient;
  z-index: -1;
  animation: animatedgradient 5s ease alternate infinite;
  background-size: 300% 300%;
}
.gradient-border:after
{
	filter: blur(15px);
}

@keyframes animatedgradient {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 300% 0;
	}
	100% {
		background-position: 0 0;
	}
}
.line-1{
    position: absolute;
    top: 70%;  
    left: 41%;
    width: 10em;
    margin: 0 auto;
    color: #fff;
    border-right: 2px solid #fff;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(40) 1s 1 normal both,
             blinkTextCursor 500ms steps(40) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 10em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #fff;}
  to{border-right-color: transparent;}
}